body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #7b7b7e;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #24de5f;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

main {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
    text-align: left;
}

.question p {
    font-weight: bold;
    color: #555;
}

label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

label input {
    margin-right: 10px;
}

button {
    padding: 12px 24px;
    background-color: #29a725;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #04311a;
    transform: scale(1.05);
}

#result {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
}
